

.blog_style {
  color: var(--dark-color);
  font-size: 15px;
}

.blog_style h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}

.blog_style h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0px 20px 0px 2px;
}

.blog_style h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0px 20px 0px 5px;
}

.blog_style p {
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.7;
    word-spacing: 3px;
}

.blog_style a {
  color: var(--main-color);
  text-decoration: none;
  line-height: 1.7;
  word-spacing: 3px;
  transition: color 0.3s ease;
}

.blog_style a:hover {
  text-decoration: underline;
}
.blog_style ul, .blog_style ol {
  padding-left: 24px;
  
  margin: 10px 0;
}
.blog_style ul li{
  list-style: disc;
  line-height: 1.7;
  word-spacing: 3px;
  margin-bottom: 6px;
}
.blog_style ol li{
  list-style: decimal;
  margin-bottom: 6px;
  line-height: 1.7;
  word-spacing: 3px;
}
.blog_style strong{
  font-weight: 500;
  line-height: 1.7;
  word-spacing: 3px;
}
.blog_style em , .blog_style i{
  font-style: italic;
  line-height: 1.7;
  background-color:rgb(85, 190, 190);
  word-spacing: 3px;
}