@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #ffffff;
  --main-color: #d85134;
  --secondary-color: #0f1336;
  --dark-color: #212121;
  --gray-light-color: #f2f2f2;
}


.home_banner_ .swiper-pagination-bullet-active {
  background-color: #ff5722 !important; 
}

.verify_input{
  border: 1px solid #e7e2e2;
  padding: 6px;
  width: 40px !important;
  margin: 0 5px ;
  border-radius: 20px;
  outline: none;
  box-shadow: #da6d6d;
}
.verify_input:focus{
  border: 1px solid var(--main-color);

}