@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #ffffff;
  --main-color: #d85134;
  --secondary-color: #0f1336;
  --dark-color: #212121;
  --gray-light-color: #f2f2f2;
}


.home_banner_ .swiper-pagination-bullet-active {
  background-color: #ff5722 !important; 
}

.verify_input{
  border: 1px solid #e7e2e2;
  padding: 6px;
  width: 40px !important;
  margin: 0 5px ;
  border-radius: 20px;
  outline: none;
  box-shadow: #da6d6d;
}
.verify_input:focus{
  border: 1px solid var(--main-color);

}

.loader_component {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,var(--dark-color) 94%,#0000) right/calc(200% - 1em) 100%;
  animation: loder_ 1s infinite alternate linear;
}
.loader_component::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,var(--dark-color));
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes loder_{
  100%{background-position: left}
}
input:checked {
  background-color: #d85134;
}

/* blog stayle  */
/* .blog_description */
.blog_description{
  color: var(--dark-color);
}
.blog_description h1{
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #0000;
  margin-bottom: 25px;
}
.blog_description h2{
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #0000;
  margin-bottom: 25px;
}
.blog_description h3{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #0000;
  margin-bottom: 20px;
}
.blog_description p{
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 10px;
}
.blog_description a {
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.blog_description a:hover{
  text-decoration: underline;
}
