@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #ffffff;
  --main-color: #ff5722;
  --secondary-color: #0f1336;
  --dark-color: #212121;
  --gray-light-color: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

.home_banner_ .swiper-pagination-bullet-active {
  background-color: #ff5722 !important; 
}

.verify_input{
  border: 1px solid #e7e2e2;
  padding: 6px;
  width: 40px !important;
  margin: 0 5px ;
  border-radius: 20px;
  outline: none;
  box-shadow: #da6d6d;
}

.verify_input:focus{
  border: 1px solid var(--main-color);

}

.loader_component {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,var(--dark-color) 94%,#0000) right/calc(200% - 1em) 100%;
  animation: loder_ 1s infinite alternate linear;
}
.loader_component::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,var(--dark-color));
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes loder_{
  100%{background-position: left}
}
input:checked {
  background-color: #d85134;
}

/* tip tap editor style  */

.editor-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tiptap{
  min-height: 400px; 
  background-color: #f4f4f4c4;
  padding: 8px;
}
.tiptap.ProseMirror-focused{
  outline: none;
  border: none;
}
.editor_tool_bar button, .editor_tool_bar select, .editor_tool_bar label{
  font-size: 13px ;
}

.tiptap table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.tiptap th, .tiptap td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tiptap th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tiptap tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tiptap tr:hover {
  background-color: #e2e2e2;
}
.tiptap p{
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: 14px;
}
.tiptap blockquote{
  border-left: 4px solid #8a2222af;
  background: rgba(236, 166, 166, 0.658);
  margin: 10px 0;
  padding: 10px 0px 10px 16px;
 
}
.tiptap blockquote p{
  margin-bottom: 0px;
}
.tiptap h1{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}
.tiptap h2{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
}
.tiptap h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
}
.tiptap h4{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
}
.tiptap h6{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}
.tiptap ol{
  padding-left: 14px;
}

.tiptap ul {
  list-style-type:disc; 
  padding-left: 30px;
}

.tiptap ol {
  list-style-type:decimal;
  padding-left: 30px;
}


.tiptap li {
  font-size: 16px;
  line-height: 1.5;
}